body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #222;
    color: grey;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn.operator {
    background-color: #007BFF;
    color: white;
}

.btn.operator:hover {
    background-color: #0056b3;
}
